@import "compass/reset";
@import "compass";
@import "var";

//Les Bases
    html{
        background: url('./img/fond.png') 50% 0 fixed;
        font : 16px/1.5 $fontPara;
    }
    body{
        margin:0 auto;
    }
    h1,h2{
        position: absolute;
        left:-9999px;
    }
    header{
        color:white;
        font-weight: 800;
        font-size: 2.25em;
        background-color: $green;
        text-align: right;
        text-shadow:1px 1px 5px lighten(black,10);
        box-shadow: 1px 1px 5px lighten(black,10);
        padding:5/(16*2.25)*1em;
        span:before{
            content:"";
            display: inline-block;
            width:24/(16*2.25)*1em;
            height:86/(16*2.25)*1em;
            padding:0 7/(16*2.25)*1em;
            background: url('./img/carrotB.png') no-repeat;
            background-size: contain;
        }
    }
    a{
        color:white;
        text-decoration: none;
        display:block;
        width:100%;
        height:100%;
    }
    img,figure{
        vertical-align: bottom;
    }
    footer{
        visibility:inherit;
        padding:10/(16)*1em;
        position: fixed;
        left:0;
        bottom:0;
        background-color: transparentize($black,0.5);
        width:100%;
    }
    section:last-of-type{
        margin-bottom: 50/16*1em;
    }

//Les classes
    .lien{
        background-color: $green;
        text-align: center;
        color:white;
        font-size: 1.5em;
        margin: 5/(16*1.5)*1em;
        a:before{
            font-family: "fontello";
            content: "";
            margin: auto 5/(16*1.5)*1em;
            text-align: center;
        }
    }
    //Introduction
        .title{
            font-family: $fontTitle;
        }
        .introduction{
            font-size: 1.5em;
            color:white;
            text-align: right;
            text-shadow: 1px 1px 5px lighten(black,10);
            margin:5/(16*1.5)*1em;
            strong{
                font-size: 1.5em;
                display:block;
            }
        }
    //Galerie
        .highlight{
            position: relative;
        }
        figure{
            margin: 5/(16)*1em;
        }
        .cadre,.onglet{
            background-color: $white;
            overflow:hidden;
            color:black;
        }
        .tile{
            position: relative;
        }
        .onglet, .highlight .cadre{
            position: absolute;
            top:0;
            right:0;
            z-index:3;
            color:white;
            width:33%;
            height:140/(16)*1em;
            padding:10/(16)*1em;
            background-color: transparentize($black,0.3);
            overflow:hidden;
            .title{
                display: block;
            }
        }
        .imageL,.image{
            background-color: $white;
            height:160/(16)*1em;
            overflow:hidden;
            img{
                width:100%;
                height:auto;
            }
        }
    //Blog
        .blog .cadre{
            margin:5/(16)*1em;
            min-height: 110/(16)*1em;
            max-height: 290/(16)*1em;
            padding:20/(16)*1em;
            position: relative;
            span{
                display: block;
                text-align: right;
            }
        }
        .date{
            text-transform: uppercase;
            font-size: 0.85em;
            color:grey;
            margin-bottom:10/(16*0.85)*1em;
        }
        .bottom{
            position: absolute;
            bottom:0;
            right:0;
            background-color: transparentize($black,0.3);
            color:white;
            width: 100%;
            margin-bottom: 0;
            padding:5/(16*0.85)*1em;

        }
    //Moi
        .portrait{
            width:50%;
            margin:5/(16)*1em auto;
            display:block;
        }
    //Footer
        .socials{
            margin:0 10/(16)*1em;
            display: inline;
        }
        .socials span{
            display: inline-block;
            text-indent: -9999px;
            margin:0 10/(16)*1em 0 -10/(16)*1em;
        }
        .socials:before{
            text-align: center;
            font-family: "fontello";
            content: "";
        }

//Les Comportements
    figure:hover,.lien:hover,.article:hover .cadre{
        box-shadow: 0 0 5px black;
        position: relative;
        //z-index:2;
    }

@media (max-device-width:680px), (max-width:680px) {
    html{
        font-size: 2.25em;
    }
    .lien{
        padding:1em;
    }
    footer{
        font-size: 1.5em;
        z-index:9999;
    }
    .medium{
            display: none;
    }
    @media (orientation:portrait){
        header{
            position: fixed;
            width:100%;
            top:0;
            right:0;
            z-index:9999;
        }
        .intro{
            margin-top: 91*3/(16*2.25)*1em;
        }
        section:last-of-type{
            margin-bottom: 100/16*1em;
        }    
    }
    @media (orientation:landscape){
        body{
            margin-right: 215/(16*2.25)*1em
        }
        header{
            position: fixed;
            font-size: 1.5em;
            width:200/(16*2.25*1.5)*1em;
            height:100%;
            right:0;
            bottom:0;
            a{
                margin-top: 80%;
            }
        }
        footer{
            position: static;
        }
        section:last-of-type{
            margin-bottom: 5/16*1em;
        }    
    } //une colonne
}

@media (min-width:681px) and (max-width: 930px),(min-device-width:681px) and (max-device-width: 930px){ // 2*340 colonnes
    body{
        width:680/(16)*1em;
    }
    header{
        position: fixed;
        width:100%;
        top:0;
        right:0;
        z-index: 9999;
    }
    .lien{
        width:160/(16*1.5)*1em;
        height:160/(16*1.5)*1em;
        margin:5/(16*1.5)*1em;
        a:before{
            font-size: 2.25em;
            display: block;
            padding-top: 0.444em;
        }
    }
    //Intro
        .introduction{
            margin-top: 86/(16)*1em;
            width:500/(16*1.5)*1em;
            height:160/(16*1.5)*1em;
            display: inline-block;
            vertical-align: bottom;
        }
        #contact{
            display: inline-block;
        }
    //Galerie
        .gallery{
            text-align: right;
        }
        #portfolio{
            display: inline-block;
            float:left;
        }
        .highlight{
            .imageL{
                height:165/(16)*1em;
            }
            .cadre{
                background-color: $white;
                position: static;
                height:145/(16)*1em;
                width:auto;
                color:black;
            }
        }
        .black{
            display: inline-block;
            vertical-align: bottom;
            width:170/(16)*1em;
            float:left;
            img{
                width:auto;
            }
        }
        .clear{
            float:right;
            width:340/(16)*1em;
        }
        .medium{
            width:340/(16)*1em;
            float: none;
            
        }
        .onglet{
            width:140/(16)*1em;
            z-index: -1;
        }
        .gallery:after{
            content:'.';
            clear: both;
            display: block;
            visibility: hidden;
            height: 0;
        }
    //Blog
        .blog .lien{
            display:inline-block;
            vertical-align: top;
        }
        a.article{
            display: inline-block;
            width:340/(16)*1em;
            float: none;
            .cadre{
                min-height: 340/(16)*1em;
            }
        }
    //Moi
        .moi{
            width:50%;
            margin:auto;
            .lien,img{
                display: inline-block;
            }
            img{
                width:160/(16)*1em;
                margin:5/(16)*1em;
            }
        }
    //Comportement
        .black:hover .onglet{
            z-index: 10;
        }
}
@media (min-width: 931px) and (max-width: 1419px){ //2*340 colonnes + header à droite

}
@media (min-width:1420px) and (max-width: 1900px){ //3*340 colonnes

}
@media (min-width:1901px){ //4*340 colonnes

}