html {
  background: url("./img/fond.png") 50% 0 fixed;
  font: 16px/1.5 Corbel, "Lucida Sans Unicode", "Lucida Grade", "Bitstream Vera Sans", "Luxi Serif", Verdana, sans-serif;
}

body {
  opacity: 50%;
  margin: 0 auto;
}

h1,
h2 {
  position: absolute;
  left: -9999px;
}

a {
  color: white;
  text-decoration: none;
}

.title {
  font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
}

header {
  color: white;
  font-weight: 800;
  font-size: 2.2em;
  background-color: #779a4d;
  width: 140px;
  height: 145px;
  text-align: right;
  margin-bottom: 5px;
  padding: 10px;
}

header span:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 86px;
  padding: 0 7px;
  background: url("./img/carrotB.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

section {
  text-align: right;
}

.introduction {
  font-size: 1.4em;
  color: white;
  text-align: right;
  margin: 5px;
  text-shadow: 1px 1px 5px #1a1a1a;
}

.introduction strong {
  font-size: 1.5em;
  display: block;
}

.lien {
  background-color: #779a4d;
  width: 150px;
  height: 150px;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 1.3em;
}

.lien a {
  display: block;
  width: 150px;
  height: 115px;
  padding-top: 35px;
}

.lien a:before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
  background: url("http://placehold.it/70x70");
}

img {
  vertical-align: bottom;
}

figure {
  vertical-align: bottom;
}

.cadre {
  background-color: #f4f6e8;
  vertical-align: top;
  max-width: 320px;
  height: 150px;
  padding: 10px;
  overflow: hidden;
}

.cadre span {
  display: block;
}

footer {
  visibility: hidden;
}

@media (max-width: 680px) {
  .lien,
  figcaption {
    max-width: 140px;
    max-height: 140px;
    display: inline-block;
  }

  img {
    max-width: 160px;
  }

  #contact {
    display: none;
  }
}

@media (min-width: 681px) {
  body {
    padding: 50px 150px 0 0px;
  }

  header {
    position: fixed;
    z-index: 20;
    right: 0;
    top: 0;
    height: 100%;
    width: 120px;
    -webkit-box-shadow: 1px 1px 5px #1a1a1a;
    box-shadow: 1px 1px 5px #1a1a1a;
  }

  header span {
    position: absolute;
    bottom: 20px;
    right: 10px;
    text-shadow: 1px 1px 5px #1a1a1a;
  }

  .introduction {
    width: 60%;
    font-size: 1.6em;
    display: inline-block;
    padding: auto 10px;
  }

  .highlight {
    float: right;
    position: relative;
  }

  figure:hover,
  .lien:hover,
  img:hover,
  .blog .cadre:hover {
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    position: relative;
    z-index: 10;
  }

  .tile {
    position: relative;
    float: none;
    display: inline-block;
  }

  .tile img {
    position: relative;
  }

  .onglet {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: white;
    width: 150px;
    height: 150px;
    padding: 10px;
    background-color: rgba(63, 64, 64, 0.5);
    overflow: hidden;
  }

  .onglet .title {
    display: block;
  }

  .tile:hover .onglet {
    -webkit-transition: 1s right, 1s opacity,1s width,1s height;
    transition: 1s right, 1s opacity,1s width,1s height;
    opacity: 1;
  }

  .blog {
    clear: both;
  }

  .blog .cadre {
    display: inline-block;
  }

  .lien {
    display: inline-block;
    margin-left: 0;
  }

  section:last-of-type {
    margin-bottom: 50px;
  }

  footer {
    visibility: inherit;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(63, 64, 64, 0.5);
    width: 100%;
  }
}